name: build-api-gateway-image

on:
  push:
    branches: [ main ]
    paths:
      - '**'
      - '.github/workflows/api-gateway-build.yml'

env:
  AWS_REGION: us-east-2
  ECR_REPO: llt-api-gateway

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for OIDC
      contents: read

    steps:
      - uses: actions/checkout@v4

      # ---------- UNIT TESTS ----------
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install deps
        run: npm ci

      - name: Run unit tests
        run: npm test
      # -------------------------------

      - name: Configure AWS creds (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::265766434317:role/github-ecr-push
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ steps.ecr.outputs.registry }}/${{ env.ECR_REPO }}
          tags: |
            type=sha,format=short
            type=raw,value=latest

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
